In [2]:
import pandas as pd
from pybaseball import statcast, pybaseball

Get Column Info

In [3]:
pybaseball.playerid_lookup("Judge", "Aaron")

Gathering player lookup table. This may take a moment.

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,judge,aaron,592450,judga001,judgeaa01,15640,2016.0,2025.0

Issue with this is it only shows the performance against a specific pitch type but not location

In [4]:
pybaseball.statcast_batter_pitch_arsenal(2023)

,"last_name, first_name",player_id,team_name_alt,pitch_type,pitch_name,run_value_per_100,run_value,pitches,pitch_usage,pa,ba,slg,woba,whiff_percent,k_percent,put_away,est_ba,est_slg,est_woba,hard_hit_percent
0,"Bregman, Alex",608324,HOU,FF,4-Seam Fastball,0.7,6,914,32.8,282,0.278,0.444,0.374,9.8,8.9,10.7,0.286,0.472,0.382,40.8
1,"Kwan, Steven",680757,CLE,FF,4-Seam Fastball,-0.1,-1,1199,42.2,270,0.296,0.383,0.361,7.2,8.5,7.9,0.295,0.370,0.344,16.7
2,"Crawford, J.P.",641487,SEA,FF,4-Seam Fastball,1.5,16,1019,38.8,265,0.313,0.517,0.434,13.9,14.7,14.5,0.304,0.457,0.399,40.2
3,"Lowe, Nathaniel",663993,TEX,FF,4-Seam Fastball,0.6,8,1233,40.5,261,0.295,0.470,0.391,21.4,27.2,19.3,0.270,0.408,0.359,50.7
4,"Semien, Marcus",543760,TEX,FF,4-Seam Fastball,-0.4,-3,889,31.8,261,0.232,0.438,0.348,10.1,9.2,11.4,0.268,0.485,0.367,43.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2352,"Alberto, Hanser",593643,CWS,SL,Slider,1.6,1,85,31.1,25,0.273,0.500,0.396,18.5,8.0,8.7,0.262,0.380,0.311,14.3
2353,"Realmuto, J.T.",592663,PHI,ST,Sweeper,2.6,4,136,6.5,25,0.238,0.429,0.322,28.3,40.0,14.5,0.190,0.273,0.251,33.3
2354,"Blanco, Dairon",680118,KC,SL,Slider,1.5,1,101,19.8,25,0.318,0.727,0.454,31.5,20.0,17.2,0.238,0.440,0.319,33.3
2355,"Ward, Taylor",621493,LAA,ST,Sweeper,-0.2,0,123,7.6,25,0.217,0.391,0.330,32.7,20.0,14.3,0.269,0.392,0.315,16.7
2356,"Yastrzemski, Mike",573262,SF,CU,Curveball,3.8,4,117,7.4,25,0.435,0.870,0.560,15.4,12.0,9.4,0.411,0.828,0.535,55.0

In [ ]:
statcast(start_dt="2016-01-01", end_dt="2024-12-30").to_csv("../data/merged.csv")

In [ ]:
df_all = pd.read_csv('../data/merged.csv')

In [12]:
df_all

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,batter_days_until_next_game,api_break_z_with_gravity,api_break_x_arm,api_break_x_batter_in,arm_angle,attack_angle,attack_direction,swing_path_tilt,intercept_ball_minus_batter_pos_x_inches,intercept_ball_minus_batter_pos_y_inches
0,323,CU,2016-11-02,76.6,2.93,6.59,"Montgomery, Mike",492841,543557,field_out,...,NaN,5.26,-0.78,0.78,NaN,NaN,NaN,NaN,NaN,NaN
1,335,CU,2016-11-02,74.3,3.04,6.51,"Montgomery, Mike",492841,543557,NaN,...,NaN,5.47,-0.68,0.68,NaN,NaN,NaN,NaN,NaN,NaN
2,200,FF,2016-11-02,94.9,-1.29,6.46,"Edwards Jr., Carl",434658,605218,single,...,NaN,1.11,-0.04,-0.04,NaN,NaN,NaN,NaN,NaN,NaN
3,205,FF,2016-11-02,95.6,-1.28,6.51,"Edwards Jr., Carl",434658,605218,NaN,...,NaN,1.04,0.18,0.18,NaN,NaN,NaN,NaN,NaN,NaN
4,215,FF,2016-11-02,94.8,-1.13,6.30,"Edwards Jr., Carl",446386,605218,walk,...,NaN,1.33,-0.23,-0.23,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757709,1711,NaN,2024-03-15,NaN,NaN,NaN,"Singer, Brady",666310,663903,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757710,1762,NaN,2024-03-15,NaN,NaN,NaN,"Singer, Brady",666310,663903,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757711,1924,NaN,2024-03-15,NaN,NaN,NaN,"Singer, Brady",608070,663903,double,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757712,2007,NaN,2024-03-15,NaN,NaN,NaN,"Singer, Brady",665926,663903,field_out,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757713,2112,NaN,2024-03-15,NaN,NaN,NaN,"Singer, Brady",680757,663903,field_out,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_all[df_all['batter'] == 608324]

,Unnamed: 0,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,batter_days_until_next_game,api_break_z_with_gravity,api_break_x_arm,api_break_x_batter_in,arm_angle,attack_angle,attack_direction,swing_path_tilt,intercept_ball_minus_batter_pos_x_inches,intercept_ball_minus_batter_pos_y_inches
26550,2287,FC,2016-09-28,85.3,-1.78,6.05,"Scribner, Evan",608324,519267,field_out,...,NaN,2.26,-0.81,-0.81,NaN,NaN,NaN,NaN,NaN,NaN
26551,2396,FF,2016-09-28,89.2,-1.84,5.95,"Scribner, Evan",608324,519267,NaN,...,NaN,1.09,0.17,0.17,NaN,NaN,NaN,NaN,NaN,NaN
26620,157,FF,2016-09-28,96.6,2.45,6.44,"Paxton, James",608324,572020,single,...,NaN,0.97,1.24,-1.24,NaN,NaN,NaN,NaN,NaN,NaN
26621,186,KC,2016-09-28,80.3,2.56,6.38,"Paxton, James",608324,572020,NaN,...,NaN,4.51,-0.12,0.12,NaN,NaN,NaN,NaN,NaN,NaN
26622,205,FF,2016-09-28,96.2,2.49,6.44,"Paxton, James",608324,572020,NaN,...,NaN,1.12,1.57,-1.57,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748895,1836,SI,2024-03-17,95.5,0.70,6.54,"Liberatore, Matthew",608324,669461,NaN,...,NaN,1.38,0.88,-0.88,NaN,NaN,NaN,NaN,NaN,NaN
756798,1490,NaN,2024-03-15,NaN,NaN,NaN,"Brogdon, Connor",608324,641401,single,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756824,2079,NaN,2024-03-15,NaN,NaN,NaN,"Turnbull, Spencer",608324,605513,field_out,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756857,862,NaN,2024-03-15,NaN,NaN,NaN,"Sánchez, Cristopher",608324,650911,single,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756876,1664,NaN,2024-03-15,NaN,NaN,NaN,"Sánchez, Cristopher",608324,650911,double,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN